/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
}

/* Notification Style */
snack-bar-container.success {
 background-color : green;
 color: #fff;
}

snack-bar-container.notification .simple-snack-bar {
    font-size: 18px !important;
    font-weight: bold;
}

.chipsAutocomplete {
    width: 100%;
  }